# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/web/dist
/web/tmp
/web/out-tsc

# dependencies
/web/node_modules

# IDEs and editors
/web/.idea
/web/.project
/web/.classpath
/web/.c9/
/web/*.launch
/web/.settings/
/web/*.sublime-workspace

# IDE - VSCode
/web/.vscode/*
/web/!.vscode/settings.json
/web/!.vscode/tasks.json
/web/!.vscode/launch.json
/web/!.vscode/extensions.json

# misc
/web/.sass-cache
/web/connect.lock
/web/coverage
/web/libpeerconnection.log
/web/npm-debug.log
/web/testem.log
/web/typings

# e2e
/web/e2e/*.js
/web/e2e/*.map

# System Files
/web/.DS_Store
/web/Thumbs.db
e2e
