<p class="main-title">Please select your candidate</p>
<p>Click twice to select</p>

<owl-carousel #owlElement [options]="{dots: false, navigation: false, margin: 10, responsive: { '0': {items: 1}, '800': {items: 2} }}" [items]="parties" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let party of parties2d; let column = index">
        <div class="party" (click)="selectParty(column*partiesInColumn + row)" *ngFor="let item of party; let row = index" [ngClass]="chooseParty(column*partiesInColumn + row)">
            <h4 class="title">{{item.title}}</h4>
            <div class="field">
                <img class="img-responsive img-rounded" src="assets/images/candidatos/{{item.candidate}}" alt="{{item.candidate_alt}}">
            </div>
            <div class="field">
                <img class="img-responsive img-rounded" src="assets/images/logos/{{item.party}}" alt="{{item.party_alt}}">
            </div>
        </div>
    </div>
</owl-carousel>

<section class="footer">
    <button class="form-btn form-btn__green" type="button" (click)="selectParty(-2)">Null Vote</button>
    <div>
        <button class="form-btn__arrow" type="button" (click)="prev()"><img src="assets/images/left-arr.png"/></button>
        <p class="txt">More Candidates</p>
        <button class="form-btn__arrow" type="button" (click)="next()"><img src="assets/images/right-arr.png"/></button>
    </div>
</section>