:host {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 2em 0;
}

.login-form {
    flex: auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.login-info {
    display: flex;
    flex-direction: column;
}