.panel {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    position: absolute;
    height: 88%;
    background-color: rgba(0, 41, 79, 0.85);
    color: #FFF;
    min-height: 35em;
    overflow: auto;
}

.panel-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 2em;
    background-color: rgba(61, 94, 130, 0.5);
    padding: 0.5em 3em;
    padding-bottom: 0.5em;
    margin-bottom: 0.4em;
    font-size: 0.813em;
    overflow: hidden;
    font-family: Arial;
}

.panel-main {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 1em 2em;
}

.main-logo {
    text-align: right;
}
