<!--The content below is only a placeholder and can be replaced.-->

<div class="panel">
    <header class="panel-top">
        <span>Date: {{myDate | date:'shortDate'}}</span>
        <span>Time:  {{myDate | date:'mediumTime'}}</span>
        <span>Votation: {{votation.nombre | uppercase}}</span>
    </header>
    <main class="panel-main">
        <div class="main-logo">
            <img src="./assets/images/logo.png" alt="logo">
        </div>
        <router-outlet></router-outlet>
    </main>
</div>
