@font-face {
    font-family: 'AvantExtraLight';
    src: url('./assets/fonts/AvantGardEF-ExtraLight.eot');
    src: url('./assets/fonts/AvantGardEF-ExtraLight.woff') format('woff'), url('./assets/fonts/AvantGardEF-ExtraLight.ttf') format('truetype'), url('./assets/fonts/AvantGardEF-ExtraLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantDemi';
    src: url('./assets/fonts/AvantGardEF-Demi.eot');
    src: url('./assets/fonts/AvantGardEF-Demi.woff') format('woff'), url('./assets/fonts/AvantGardEF-Demi.ttf') format('truetype'), url('./assets/fonts/AvantGardEF-Demi.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    font-size: 16px;
    background-image: url(./assets/images/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: AvantDemi;
}

.txt {
    font-family: AvantExtraLight;
    font-size: 1.25em;
}

.main-title {
    font-size: 1.313em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.img-rounded {
    border-radius: 0.4em;
}

.form {
    &-input {
        width: 100%;
        max-width: 20em;
        font-size: 1.5em;
        padding: 0.375em;
        border-radius: 0.4rem;
        border: 1px solid #091f38;
        box-shadow: 0 0 0.5rem #0a2c52;
        color: #000;
        margin-bottom: 1.375em;
        text-align: center;
    }
    &-btn {
        max-width: 20em;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 0.1em;
        padding: 0.625em 1em;
        border-radius: 5px;
        border: 1px solid;
        box-shadow: 0 0 8px #0a2c52;
        color: #fff;
        cursor: pointer;
        transition: all ease-in-out 200ms;
        &__green {
            background-image: linear-gradient(#00954d, #006d35);
            border-color: #438c63;
            text-shadow: 2px 2px 5px #00642c;
            &:hover {
                background-image: linear-gradient(#20b56d, #208d55);
            }
        }
        &__red {
            background-image: linear-gradient(#ff0101, #b60101);
            border-color: #ff5f5f;
            text-shadow: 2px 2px 5px #a20101;
            &:hover {
                background-image: linear-gradient(#ff2121, #D62121);
            }
        }
        &__sm {
            font-size: 0.85em;
        }
        &__arrow {
            display: inline-flex;
            align-items: center;
            background-color: transparent;
            border: none;
            font-size: 1.5em;
            font-weight: bold;
            color: #fff;
            transition: all ease-in-out 200ms;
            cursor: pointer;
            &_right {
                text-align: right;
                &::after {
                    content: url(assets/images/right-arr.png);
                    margin-left: 0.5em;
                    transform: scale(0.75);
                }
            }
        }
    }
}

.party {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #e1edfa;
    padding: 0.5em;
    border: 2px solid #a5c4e7;
    border-radius: 0.4em;
    margin-bottom: 0.5em;
    width: 100%;
    text-align: left;
    overflow: hidden;
    height: 5.625em;
    .title {
        margin-right: auto;
        text-transform: uppercase;
        color: #263b51;
    }
}

.sk-cube-grid {
  width: 100px;
  height: 100px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #3279CD;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}
.shadowBox{
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  left: 0;
  top: 0;
  background: black;
  opacity: 0.7;
  z-index: 100 !important;
}

.centered{
  position: fixed !important;
  left: 45%;
  top: 40%;
  z-index: 100;
}
